<header class="header">
   <div class="container-fluid px-lg-5">

      <nav class="py-4">
         <div id="logo">
            <a href="index.html" class="editContent" style="font-size: 30px">DjangoMovie</a>
         </div>

         <label for="drop" class="toggle">Menu</label>
         <input type="checkbox" id="drop">
         <ul class="menu mt-2">
            <li class="active"><a href="index.html">Главная</a></li>
            <li>
               <!-- First Tier Drop Down -->
               <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
               <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
               <input type="checkbox" id="drop-2">
               <ul>
                  <li><a href="movie_detail.html">Фильмы</a></li>
                  <li><a href="movie_detail.html">Сериалы</a></li>
                  <li><a href="movie_detail.html">Мультфильмы</a></li>
               </ul>
            </li>
            <li><a href="contact.html">Вход</a></li>
         </ul>
      </nav>

   </div>
</header>

<!--/banner-->
<div class="banner-info">
   <p class="editContent">лучший сайт на django 3</p>
   <h3 class="mb-4 editContent">Все о кино</h3>
   <div class="ban-buttons">

   </div>
</div>